.construcao {
  margin-top: 20px;
  min-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
}

.construcao img {
  max-width: 500px;  
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 140px;
  height: auto;
}

body {
  background: #f5f6fa;
}

.main {
  background: transparent;
}


